# IDE and OS-specific files
.idea/
.DS_Store
__pycache__/

# Logging and temp files
Logging/

# Model files (outputs, configs, or checkpoints)
models/label_map.json
models/*.pkl
models/*.npy

# Dataset-specific ignored files
datasets/Original/GeorgiaTech/**/pspbrwse.jbf

/static/model evaluation/confusion_matrix.png
/static/model evaluation/roc_curve.png
/static/model evaluation/evaluation_metrics.json
